{% extends 'base.html' %}

{% block header %}
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8 border-top border-right border-left">
                <h1>{% block title %}Log In{% endblock %}</h1>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8 border-right border-left border-bottom">
                <form method="post">
                    <label for="username">Username</label>
                    <input class="form-control" name="username" id="username" required>
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" required>
                    <input class="btn mt-3 mb-3" type="submit" value="Log In">
                </form>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
{% endblock %}