{% extends 'base.html' %}

{% block content %}
<div class="container ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 border">
                <h5 class="mt-3">Upload file to server:</h5>
                <form method="POST" action="/index" enctype="multipart/form-data">
                    <div class="custom-file mt-3">
                        <input type="file" class="custom-file-input" id="input_config" name="input_config">
                        <label class="custom-file-label" for="input_config">Choose input configuration</label>
                    </div>
                    <div class="custom-file mt-3">
                        <input type="file" class="custom-file-input" id="config_py" name="config_py">
                        <label class="custom-file-label" for="config_py">Choose config.py</label>
                    </div>
                    <!-- <script>
                    $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
                    </script> -->
                    <h5 class="mt-3">Translate:</h5>
                        <div class="row">
                            <div class="col-md-6 ">
                                <h5>From:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="input" value="cisco"
                                        id="inputCisco">
                                    <label class="form-check-label" for="inputCisco">Cisco</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="input" value="junper"
                                        id="inputJuniper">
                                    <label class="form-check-label" for="inputJuniper">Juniper</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="input" value="json"
                                        id="inputJSON">
                                    <label class="form-check-label" for="inputJSON">JSON</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>To:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="output" value="cisco"
                                        id="outputCisco">
                                    <label class="form-check-label" for="outputCisco">Cisco</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="output" value="juniper"
                                        id="outputJuniper">
                                    <label class="form-check-label" for="outputJuniper">Juniper</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="output" value="json"
                                        id="outputJSON">
                                    <label class="form-check-label" for="outputJSON">JSON</label>
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-light btn-outline-secondary mt-3 mb-3" type="submit" value="Send">
                </form>
                <!--{# <p></p>#} -->

<!--                <form method="GET" action="/index" enctype="multipart/form-data">-->
                    <!-- <input class="form-control mt-3" name="filename" id="username" required> -->
                    <!-- <small class="form-text text-muted mb-2">Type name of file you want to translate.</small> -->
                    <!-- <div class="row">
                        <div class="col-md-6 ">
                            <h5>From:</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="input" value="cisco"
                                       id="inputCisco">
                                <label class="form-check-label" for="inputCisco">Cisco</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="input" value="junper"
                                       id="inputJuniper">
                                <label class="form-check-label" for="inputJuniper">Juniper</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="input" value="json"
                                       id="inputJSON">
                                <label class="form-check-label" for="inputJSON">JSON</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5>To:</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="output" value="cisco"
                                       id="outputCisco">
                                <label class="form-check-label" for="outputCisco">Cisco</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="output" value="juniper"
                                       id="outputJuniper">
                                <label class="form-check-label" for="outputJuniper">Juniper</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="output" value="json"
                                       id="outputJSON">
                                <label class="form-check-label" for="outputJSON">JSON</label>
                            </div>
                        </div>
                    </div> -->
                    <!-- <p>
                        <button class="btn btn-light btn-outline-secondary mt-3" type="submit">Translate</button>
                    </p> -->
<!--                </form>-->
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>

{% endblock %}